<h2>TASK MANAGER</h2>
<p>Click on the Task that you want to edit</p>

<ul>
<% @tasks.each do |task| %>
<li>
  <% if task.completed == true  %>
  <i class="fa fa-check-square-o" aria-hidden="true"></i>
  <%else  %>
  <i class="fa fa-square-o" aria-hidden="true"></i>
  <% end %>
  <%= link_to task.title, task_path(task) %></li>
<% end %>
</ul>



<%= link_to "Add new task", tasks_new_path  %>



